{% extends 'base.html' %}
	{% block content %}
		<h3>Resultados de la busqueda</h3>
		{% for i in record %} 	
			<div class="evento">
				<div class="imagenEvento">
					<img src={{i.Imagen}}>
				</div>

				<div class="detallesEvento">
					<h3>{{i.Titulo}}</h3>
					<div class="datosEvento">
						<p>Dirección: {{i.Direccion}}</p>
						<div class="datos">
							<div>Aforo actual: {{i.Aforo_actual}} </div>
							<div>Aforo máx.: {{i.Aforo_Max}}</div>
							<div>Hora: {{i.Hora}}</div>
						</div>
					</div>

					<div class="precio">
						{{i.Precio}}
					</div>
				</div>
			</div>
		{% endfor %}
		<br></br>
	{% endblock %}

