{% extends 'base.html' %}
	{% block content %}
		<h3>Resultados de la busqueda</h3>
		{% ifequal categoria "ocio" %}
			{% for i in record %}	
				<div class="evento">
					<div class="imagenEvento">
						<img src="../../static/images/{{i.Imagen}}">
					</div>
					<div class="detallesEvento">
						<h3>{{i.Titulo}}</h3>
						<div class="datosEvento">
							<p>Ciudad: {{i.Ciudad}}</p>
							<p>Dirección: {{i.Direccion}}</p>
							<p>Hora: {{i.Hora}}</p>
						</div>

						<div class="precio">
							{{i.Precio}}
						</div>
					</div>
				</div>
			{% endfor %}
		{% endifequal %}

		{% ifequal categoria "vivienda" %}
			{% for i in record %}
				<div class="evento">
					<div class="imagenEvento">
						<img src="../../static/images/{{i.Imagen}}">
					</div>

					<div class="detallesEvento">
						<h3>{{i.Titulo}}</h3>
						<div class="datosEvento">
							<p>Ciudad: {{i.Ciudad}}</p>
							<p>Dirección: {{i.Direccion}}</p>
							<p>Num. Habitaciones: {{i.NumHab}}</p>
						</div>

						<div class="precio">
							{{i.Precio}}
						</div>
					</div>
				</div>
			{% endfor %}
		{% endifequal %}

				{% ifequal categoria "empleo" %}
			{% for i in record %}
				<div class="evento">
					<div class="imagenEvento">

						<img src="../../static/images/{{i.Imagen}}">

					</div>

					<div class="detallesEvento">
						<h3>{{i.Titulo}}</h3>
						<div class="datosEvento">
							<p>Ciudad: {{i.Ciudad}}</p>
							<p>Periodo: {{i.Periodo}}</p>
						</div>

						<div class="precio">
							{{i.Sueldo}}
						</div>
					</div>
				</div>
			{% endfor %}
		{% endifequal %}

		<br></br>
	{% endblock %}

